@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Iceland&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

     

body{
    background-color:#F5F5F3;
    font-family:  sans-serif;
   
}

.topHeader{
    font-family: "Playfair Display", serif;
        
       
}

input::placeholder {
   
   font-size: 14px;
   font-weight: 400;
   font-family: serif;
}



/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
   display: none;
}

.scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
   
}



:root {
  /* ================================
     PRIMARY COLORS
  ================================= */

  --color-black: #08090B;
  --color-navy: #0B1B33;
  --color-gold: #C9A227;
  --color-gold-light: #E0C15A;


  /* ================================
     NEUTRAL COLORS
  ================================= */

  --color-background: #F5F5F3;
  --color-white: #FFFFFF;

  --color-text: #111827;
  --color-text-muted: #64748B;
  --color-text-light: #F8FAFC;

  --color-border: #E2E8F0;


  /* ================================
     STATUS COLORS
  ================================= */

  --color-success: #16A34A;
  --color-error: #DC2626;
  --color-warning: #D97706;
}

