.cartContainer {
    padding: 40px;
}

.cartHeader {
    margin-bottom: 40px;
}

.cartTitle {
    font-size: 32px;
    font-weight: 600;
}

.cartItems {
    color: gray;
}

/* ===============================
          PRODUCT CARD
=================================*/

.cardBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px;

    background: #fff;

    border: 1px solid #ECE8E1;

    border-radius: 20px;

    min-height: 170px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardBorder:hover {
    transform: translateY(-3px) scale(1.01);

    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.10);
}

/* ===========================
        GRID
=========================== */

.cartGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 380px;
    gap: 30px;
    align-items: start;
}




/* ===========================
      LEFT SIDE
=========================== */



.cartLeftWrapper::-webkit-scrollbar {
    display: none;
}

.cartProductInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartProductImage {
    width: 120px;
    height: 120px;

    border-radius: 14px;

    background: #F5F5F5;

    object-fit: cover;

    flex-shrink: 0;

    transition: transform 0.3s ease;
}

.cardBorder:hover .cartProductImage {
    transform: scale(1.04);
}

.cartProductContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartBrand {
    font-size: 10px;

    text-transform: uppercase;

    letter-spacing: 1.5px;

    color: #8E8E8E;

    margin-bottom: 6px;
}

.cartProductName {
    font-size: 22px;

    font-weight: 500;

    margin-bottom: 9px;

    color: #111;
}

.cartVariation {
    display: flex;
    align-items: center;
    gap: 14px;

    font-size: 13px;

    color: #666;

    margin-bottom: 16px;
}

.cartVariation span {
    color: #111;
}

.cartColor {
    display: flex;
    align-items: center;
    gap: 7px;
}

.colorCircle {
    width: 13px;
    height: 13px;

    border-radius: 50%;

    background: #D9D2C5;

    display: inline-block;
}

/* ===========================
      RIGHT SIDE
=========================== */

.cartRightWrapper {
    width: 100%;
}

.cartProducts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.orderSummary {
    border: 1px solid #e5e5e5;

    border-radius: 20px;

    padding: 22px;

    background: white;

    position: sticky;

    top: 20px;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.oldPrice {
    position: relative;
    display: inline-block;
    color: #8b8b8b;
}

.oldPrice::after {
    content: "";

    position: absolute;

    left: 0;

    top: 50%;

    width: 100%;

    height: 1px;

    background: #8b8b8b;
}

.cartProductRight {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    align-items: flex-end;

    height: 120px;
}

.priceBox {
    text-align: right;
}

.currentPrice {
    font-size: 22px;

    font-weight: 600;

    color: #111;
}

.oldPrice {
    position: relative;

    display: inline-block;

    color: #9B9B9B;

    margin-top: 5px;

    font-size: 12px;
}

.oldPrice::after {
    content: "";

    position: absolute;

    left: 0;

    top: 50%;

    width: 100%;

    height: 1px;

    background: #9B9B9B;
}

.size-box {

    height: 45px;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    cursor: pointer;
    transition: all .2s ease;
}

.size-box:hover {
    background: #0c0c0c;
    color: white;
    border-color: #0c0c0c;
}

/* ===============================
      QUANTITY BUTTON
=================================*/



.quantityBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 82px;
    height: 33px;

    border: 1px solid #DDD;

    border-radius: 12px;
}

.quantityBox h1 {


    text-align: center;

    cursor: pointer;

    font-size: 10px;

    user-select: none;
}

/* ===============================
      SAVE / REMOVE
=================================*/

.cartActions {
    display: flex;

    gap: 20px;

    color: #666;

    font-size: 12px;
}

.cartActions h1 {
    cursor: pointer;

    transition: .25s;
}

.cartActions h1:hover {
    color: #111;
}

/*=========================
        TITLE
==========================*/

.summaryTitle {

    font-size: 20px;

    font-weight: 600;

    color: #111;
}

/*=========================
      PROMO SECTION
==========================*/

.promoWrapper {

    display: grid;

    grid-template-columns: 1fr 75px;

    gap: 8px;
}

.promoInput input {

    width: 100%;

    height: 44px;

    padding: 0 14px;

    border: 1px solid #DDD;

    border-radius: 11px;

    outline: none;

    font-size: 13px;
}

.promoInput input::placeholder {

    color: #999;
}

.promoButton button {

    width: 100%;

    height: 44px;

    border: none;

    border-radius: 11px;

    background: #111;

    color: #fff;

    font-size: 13px;

    cursor: pointer;

    transition: .3s;
}

.promoButton button:hover {

    background: #000;
}

/*=========================
      PRICE ROWS
==========================*/

.summaryRow {

    display: flex;

    justify-content: space-between;

    align-items: center;

    font-size: 14px;
}

.summaryRow h1 {

    font-size: 14px;

    font-weight: 400;

    color: #444;
}

.summaryRow span {

    color: #666;
}

.freeShipping {

    color: #2D8F53 !important;

    font-weight: 600 !important;
}

.saleSaving {

    color: #2D8F53 !important;

    font-weight: 600 !important;
}

/*=========================
        DIVIDER
==========================*/

.divider {

    width: 100%;

    height: 1px;

    background: #ECE8E1;

    display: block;
}

/*=========================
        TOTAL
==========================*/

.totalWrapper {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;
}

.totalTitle {

    font-size: 24px;

    font-weight: 600;

    margin-bottom: 4px;
}

.taxText {

    color: #888;

    font-size: 11px;
}

.totalPrice {

    font-size: 32px;

    font-weight: 700;
}

/*=========================
      CHECKOUT BUTTON
==========================*/

.checkoutButton button {

    width: 100%;

    height: 52px;

    border: none;

    border-radius: 14px;

    background: #111;

    color: #fff;

    font-size: 14px;

    cursor: pointer;

    transition: .3s;
}

.checkoutButton button:hover {

    background: #000;
}

/*=========================
      SECURITY
==========================*/

.securityBox {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 8px;
}

.securityIcon {

    width: 9px;

    height: 9px;

    border-radius: 50%;

    background: #2D8F53;
}

.securityBox h1 {

    color: #777;

    font-size: 11px;

    font-weight: 400;
}

/*=========================
      PAYMENT METHODS
==========================*/

.paymentMethods {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 8px;
}

.paymentCard {

    height: 42px;

    border: 1px solid #DDD;

    border-radius: 10px;

    display: flex;

    align-items: center;

    justify-content: center;

    cursor: pointer;

    transition: .3s;
}

.paymentCard:hover {

    border-color: #111;
}

.paymentCard h1 {

    font-size: 12px;

    font-weight: 500;
}

/* ===========================
        TABLET
=========================== */

@media (max-width: 992px) {
    .cartGrid {
        grid-template-columns: minmax(0, 1fr) 330px;
        gap: 20px;
    }

    .cardBorder {
        padding: 20px;
    }

    .cartProductImage {
        width: 110px;
        height: 110px;
    }

    .cartProductName {
        font-size: 20px;
    }

    .currentPrice {
        font-size: 20px;
    }

    .cartVariation {
        font-size: 13px;
    }

    .summaryTitle {
        font-size: 18px;
    }

    .totalPrice {
        font-size: 28px;
    }

    .orderSummary {
        padding: 20px;
        gap: 18px;
    }

}

/* ===========================
        MOBILE
=========================== */

@media (max-width: 768px) {
    .cartContainer {
        padding: 20px;
    }

    .cartGrid {
        grid-template-columns: 1fr;
    }

    .cartLeftWrapper {
        max-height: none;

        overflow: visible;
    }

    .cartRightWrapper {
        margin-top: 25px;
    }

    .cardBorder {
        flex-direction: column;

        align-items: flex-start;

        gap: 24px;
    }

    .cartProductInfo {
        width: 100%;
    }

    .cartProductRight {
        width: 100%;

        height: auto;

        flex-direction: row;

        align-items: center;
    }

    .priceBox {
        text-align: left;
    }

    .summaryTitle {
        font-size: 18px;
    }

    .totalPrice {
        font-size: 28px;
    }

    .paymentMethods {
        grid-template-columns: repeat(2, 1fr);
    }

    .promoWrapper {
        grid-template-columns: 1fr;
    }
}