
/* Desktop first */

.home{
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero {
    position: relative;
    display: flex;
    padding: 34px;
background-color: #fff;


}

.heroBorder{
    border: 1px solid none;
    padding: 14px 28px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 3s ease;
  
}
.heroBorder:hover{
    transform: scale(0.5, 1);
}
.arroRight{
 
        transition: transform 0.2s ease;
}

.heroBorder:hover .arroRight{
    transform: translateX(8px);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: fill;
}

.hero-image{
    width: 50%;
    height: 100dvh;
    border: 0px solid;
    border-radius: 20px;
}


.hero-text{
    width: 50%;
    height: 100dvh;
    border: 0px solid;
    padding: 20px;
    
}
.hero-text  {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    
}

.subText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}





.hero-content {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
}


.hero-content > h1{
    font-size: 42px;
    font-weight: 600;
}

.hero-content > p {
    font-size: 24px;
    font-weight: 400;
}

.heroButton{
    padding: 8px 12px;
    border: 1px solid;
        border-radius: 12px;
    
        font-size: 18px;
    
        font-weight: 600;
    
}

.Categories{
   position: relative;
   border-radius: 12px;
    max-width: 290px;
    max-height: 400px;
    flex: 1 1;
    position: relative;
   
    border:  0px solid;

}
.Categories > .cat-img{
width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;

}

.Categories >  h1{
   
        position: absolute;
      
        bottom: 10px;
            left: 10px;
            color: white;
        
}

.productCard{
    width: 200px;
    height: 300px;
    border: 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.prod-img{
width: 200px;
height: 180px;
border: 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.emailBorder{
    width: 100%;
   height: 350px;
   flex: 1 1;
    border: 1px solid;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
.emBt{
    display: flex;gap: 20px;
}
.emailInput{
    max-width: 442px;

    height: 45px;
    border: 1px solid  ;
flex: 1 1;
background-color: #1A1A1A;
padding: 12px 16px;
border-radius: 12px;
}
.emailInput:focus-within{
    border-color: #B8965A;
}

.emailInput >input{
    width: 100%;
    border: none;
    border: none;
        outline: none;
        

}.emailInput > input::placeholder{
    color: #3D3A36;
}
.emailInput > input:focus{
    border: none;
        outline: none;
}
.eamilBut{
    width: 100px;
    border: 1px solid;
   background-color: #B8965A;
   border-radius: 8px;
padding: 12px 24px;
}
.eamilBut > button{
    width: 100%;
    
} .eamilBut:hover{
    background-color: #D4B27A;
}


.flashDeal{
    width: 223px;
    height: 324px;
    border: 1px solid;
    border-radius: 12px;
}
.flashDeal > img{
    width: 100%;
    height: 223px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.whishDeal {
    width: 100%;
    height: 334px;
    border: 1px solid;
    border-radius: 12px;
}

.whishDeal>img {
    width: 100%;
    height: 223px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.tranding {
   
    width: 217px;
    height: 400px;
    border: 0px solid;
    border-radius: 12px;
    position: relative;
    background: #FFF;
}

.tranding>img {
    width: 100%;
    height: 272px;
    border: 0 solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    object-fit: fill;
    background: #F5F3EF;


}


.LayCart{
       
            border: 1px solid;
            border-radius: 8px;
        
            width: 80%;
            background-color: white;
            color: black;
            animation: addcartStyle 0.8s ease-in-out;
}

.LayCart:hover{
   
        background-color: black;
        color: white;
        
}

.addCart{
    position: absolute;
  
    top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    border: 1px solid  ;
    border-radius: 8px;
    
    width: 80%;
  
    color: black;
    animation: addcartStyle 0.8s ease-in-out;
}

.addCart:hover{
    display: block;
   
    color: white;
    display: flex;
        justify-content: center;
        align-items: center;
}


@keyframes addcartStyle {
    0%{
 opacity: 0;
 
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}

.borderArrow{

    border: 0 solid;
    border-radius: 12px;
    background-color: #3D3A36;
   display: flex;
   align-items: center;
   position: relative;
    width: 20px;
    height: 50px;

}

.borderArrow > button{
    
 position: absolute;
 right: 50%;
 transform: translateX(50%);
 color: white;


}


.trending-content{
    position: absolute;
        inset: 0;
        top: 75%;
}



/* Tablet */

@media (min-width:768px)and (max-width:1219px) {
    .hero-content > h1 {
            font-size: 32px;
            font-weight: 600;
        }

                .hero-content >  p {
                    font-size: 20px;
                    font-weight: 400;
                }
}


/* Mobile */

@media (max-width:767px) {

    .emailBorder{
        padding: 20px;
    }

    .divider-content{
        width:100% ;
        min-height:200px;
    }
    .home {
            padding: 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

    .hero{
        display: grid;
        flex-direction: column;
        width: 100%;
        min-height: 100vb;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        gap: 20px;
    }

        .hero-text {
            width: 100%;
            height: 100%;
            border: 0px solid;
            padding: 20px;
    
        }
      

        .hero-image {
            width: 100%;
            height: 100%;
            border: 0px solid;
            border-radius: 20px;
        }

                .hero-text {
                    width: 100%;
                    height: 100%;
                    border: 0px solid;
                    padding: 20px;
        
                }
  .hero-content>h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .hero-content>p {
        font-size: 14px;
        font-weight: 400;
    }

    .emBt {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
        .emailInput {
            width: 100%;
            height: 40px;
            border: 1px solid;
           
        }

                .eamilBut {
                    width: 100%;
                    border: 1px solid;
        
                }

          .heroBorder {
              border: 1px solid none;
              padding: 12px 12px;
              border-radius: 12px;
              cursor: pointer;
              transition: all 3s ease;
    
          }
          .heroBorder button{
            font-size: 14px;
          }

                 
       
          

} 