


.order-border{
  background-color: white;
    padding: 20px;
    border-radius: 12px;
    flex: 1 1 200px;
    border: 0px solid;
}



.wishlist {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 320px;
}


.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-item {
    display: flex;
    gap: 20px;
}

.overDeal{
    width: 220px;
        height: 300px;
        border: 1px solid;
        border-radius: 12px;
}

.wish-image-border{
    max-width: 200px;
        max-height: 200px;
        border: 0px solid;
        border-radius: 12px;
}

.wish-image-border img {
width: 200px;
    max-height: 200px;
    
;
       
}




.wishlist-display{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr ;
 gap: 20px;
   
}

/* Tablet */
@media (max-width: 1024px) {
    .wishlist-item {
        gap: 15px;
    }

    .wishlist-item img {
        width: 180px;
        height: 180px;
    }
}

/* Mobile */
@media (max-width: 640px) {
    .wishlist-item {
        display: block;
    }

    .wishlist-item img {
        width: 100%;
        height: auto;
    }

    .wishlist-details {
        margin-top: 15px;
    }
}